/* General */
* {
	margin: 0;
	padding: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body, html {
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


body {
    background: rgb(57, 56, 56);
}

body .container {
    margin: 0 auto;
    min-width: 300px;
    width: 50%;
    border-radius: 25px;
    padding: 10px;
}

body .container h1, body .container div#icon, body .container div#response {
    text-align: center;
}

body .container i {
    font-size: 7rem;
    color: rgba(248, 184, 6, 0.91);
}

body main {
    background: #ffffff;
}

body main ul {
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

body main form {
    margin: 20px 0;
}

body main form ul li#submit input {
    height: 35px;
    font-size: 1rem;
    background: rgb(57, 56, 56);
    cursor: pointer;
    color: white;
    
}

body main form ul li#submit input:hover {
    background: #000000;
}

body main form ul li input {
    border-radius: 15px;
    height: 22px;
    padding: 0 8px;
}